package spawn;

{{CLASS_IMPORTS}}

public class Wrapper{{INDEX}} {

	public static void main(String[] args){
		System.out.println("Starting function calls");
{{FUNCTION_CALLS}}
        System.out.println("Finished with function calls");
	}
}
